<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport"
  style="background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1189&q=80'); background-size: cover; background-position: center;">
  <mat-card class="uk-width-1-3@m">
    <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
      <h3>Forgot Password</h3>
    </div>
    <mat-card-content>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Email</mat-label>
        <input matInput placeholder="your email" value="">
      </mat-form-field>
      <div class="uk-flex uk-flex-right">
        <div class="uk-width-expand">
          <button mat-button routerLink="/register">Create Account</button>
          <button mat-button routerLink="/login">Login</button>
        </div>
        <button mat-raised-button color="primary" routerLink="/login">SEND</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
